        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            overflow-x: hidden;
        }
        
        .sec_distributor {
            display: flex;
        }
        
        .navbar {
            background-color: #f44336!important;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            /* overflow-x: hidden; */
        }
        
        .navbar-brand {
            color: #fff !important;
            font-size: 40px;
            padding: 30px 0px;
            /* padding-top: 20px !important;
    margin-top: 0px !important; */
        }
        
        .nav-item {
            font-size: 20px;
        }
        
        .nav-link {
            color: #fff !important;
        }
        /* right content setting */
        
        .r_side {
            margin-left: 332px;
        }
        
        .header h1 {
            color: #000000;
            font-size: 64px;
            font-weight: bolder;
            padding: 100px 10px 10px 10px;
        }
        
        .header h2 {
            color: #f44336;
            font-size: 48px;
            font-weight: bold;
            padding: 0px 10px;
            overflow: hidden;
        }
        
        .header hr {
            width: 50px;
            border: 5px solid #FF0000;
            margin: 20px 10px;
            padding: 0px 10px;
        }
        
        .showcase_image {
            display: flex;
            column-gap: 16px;
            /* row-gap: 10px !important; */
            /* width: 7%; */
            padding: 6px 10px;
            margin: 16px 0x;
            flex-wrap: nowrap;
            /* justify-content: space-around; */
        }
        
        .showcase_image img {
            width: 100%;
            height: auto;
            opacity: 0.8;
        }
        
        .showcase_image img:hover {
            opacity: 1;
        }
        /* services section */
        
        .services_details {
            margin-left: 332px;
        }
        
        .services_details h2 {
            color: #f44336;
            font-size: 48px;
            font-weight: bold;
            padding: 0px 10px;
            overflow: hidden;
            margin-top: 60px;
        }
        
        .services_details hr {
            width: 50px;
            border: 5px solid #FF0000;
            margin: 20px 10px;
            padding: 0px 10px;
        }
        
        .services_details p {
            padding: 0px 10px;
            /* width: 80%; */
        }
        /* designer section */
        
        .designers_detail {
            display: flex;
            margin: 0px 10px;
            /* padding: 6px 0px;
    margin: 16px 0x; */
        }
        
        .card {
            background-color: #fff;
            border-radius: none;
            border: none;
        }
        
        .card img {
            filter: grayscale(70%);
        }
        /* .card-body {
    background-color: #f1f1f1!important;
    color: #000000;
} */
        
        .card-title {
            overflow-y: hidden;
        }
        
        .card-title h5 {
            font-size: 24px !important;
            margin: 20px 0px;
        }
        
        .card-title h6 {
            font-size: 20px;
            padding: 12px 0px;
        }
        
        .card-text {
            padding: 10px 0px !important;
            font-size: 14px;
        }
        
        .pricing_detials {
            display: flex;
            column-gap: 16px;
            /* row-gap: 10px !important; */
            /* width: 75%; */
            padding: 6px 10px;
            margin-left: 332px;
            /* flex-wrap: wrap; */
        }
        
        .l_table {
            text-align: center;
        }
        
        .l_table h3 {
            background-color: #616161;
            color: #fff;
            overflow-y: hidden;
            padding: 32px 16px;
            font-size: 24px;
        }
        
        .l_table p {
            font-size: 16px;
            padding: 16px;
            border-bottom: 1px solid #616161;
        }
        
        .l_table button {
            background-color: #616161;
            color: #fff;
            padding: 12px 24px;
            border: none;
            font-size: 16px;
        }
        
        .l_table button:hover {
            background-color: #fff;
            color: #616161;
        }
        
        .r_table {
            text-align: center;
        }
        
        .r_table h3 {
            background-color: #f44336;
            color: #fff;
            overflow-y: hidden;
            padding: 32px 16px;
            font-size: 24px;
        }
        
        .r_table p {
            font-size: 16px;
            padding: 16px;
            border-bottom: 1px solid #616161;
        }
        
        .r_table button {
            background-color: #f44336;
            color: #fff;
            padding: 12px 24px;
            border: none;
            font-size: 16px;
        }
        
        .r_table button:hover {
            background-color: #fff;
            color: #f44336;
        }
        
        .contact_details {
            margin-left: 332px;
            padding: 6px 10px;
        }
        
        input {
            width: 100%;
            padding: 8px;
            margin-top: -6px;
            margin-bottom: 10px;
            /* border: none; */
        }
        
        .contact_details button {
            width: 100%;
            padding: 8px;
            border: none;
            margin: 10px 0px;
            background-color: #f44336;
            color: #fff;
        }
        
        .contact_details button:hover {
            background-color: #616161;
            color: #000000;
        }
        
        .foolter_details {
            margin-left: 332px;
            padding: 60px 10px;
            text-align: center;
        }
        /* media query */
        
        @media (min-width :701px) and (max-width:859px) {
            .navbar {
                display: none;
            }
            .r_side {
                width: 100%;
                margin-left: 0px;
            }
            .services_details {
                margin-left: 0px;
                width: 100%;
            }
            .pricing_detials {
                margin-left: 0px;
                /* width: 100%; */
            }
            .contact_details {
                margin-left: 0px;
                width: 100%;
            }
            .foolter_details {
                margin-left: 0px;
            }
            .showcase_image {
                flex-direction: row;
                gap: 10px;
            }
            .showcase_image img {
                width: 100%;
            }
            .pricing_detials {
                flex-wrap: wrap;
                row-gap: 20px;
            }
        }
        
        @media (max-width :700px) {
            .navbar {
                position: fixed;
                width: 100%;
                height: 100px;
                top: 0;
                z-index: 99;
                overflow: hidden;
            }
            .r_side {
                width: 100%;
                margin-left: 0px;
            }
            .services_details {
                margin-left: 0px;
                width: 100%;
            }
            .pricing_detials {
                margin-left: 0px;
                width: 100%;
            }
            .contact_details {
                margin-left: 0px;
            }
            .foolter_details {
                margin-left: 0px;
            }
            .showcase_image {
                flex-direction: column;
                gap: 10px;
            }
            .showcase_image img {
                width: 100%;
            }
            .pricing_detials {
                flex-wrap: wrap;
                row-gap: 20px;
            }
        }